/// Font Face ///
///
@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/ProximaNova-Bold.eot');
  src: url('/assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('/assets/fonts/ProximaNova-Bold.woff') format('woff'),
  url('/assets/fonts/ProximaNova-Bold.ttf') format('truetype'),
  url('/assets/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
  url('/assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/ProximaNova-BoldIt.eot');
  src: url('/assets/fonts/ProximaNova-BoldIt.woff2') format('woff2'),
  url('/assets/fonts/ProximaNova-BoldIt.woff') format('woff'),
  url('/assets/fonts/ProximaNova-BoldIt.ttf') format('truetype'),
  url('/assets/fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg'),
  url('/assets/fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/ProximaNova-Light.eot');
  src: url('/assets/fonts/ProximaNova-Light.woff2') format('woff2'),
  url('/assets/fonts/ProximaNova-Light.woff') format('woff'),
  url('/assets/fonts/ProximaNova-Light.ttf') format('truetype'),
  url('/assets/fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg'),
  url('/assets/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/ProximaNova-LightIt.eot');
  src: url('/assets/fonts/ProximaNova-LightIt.woff2') format('woff2'),
  url('/assets/fonts/ProximaNova-LightIt.woff') format('woff'),
  url('/assets/fonts/ProximaNova-LightIt.ttf') format('truetype'),
  url('/assets/fonts/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg'),
  url('/assets/fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/ProximaNova-Regular.eot');
  src: url('/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('/assets/fonts/ProximaNova-Regular.woff') format('woff'),
  url('/assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
  url('/assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
  url('/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/ProximaNova-RegularIt.eot');
  src: url('/assets/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
  url('/assets/fonts/ProximaNova-RegularIt.woff') format('woff'),
  url('/assets/fonts/ProximaNova-RegularIt.ttf') format('truetype'),
  url('/assets/fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg'),
  url('/assets/fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/ProximaNova-Semibold.eot');
  src: url('/assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('/assets/fonts/ProximaNova-Semibold.woff') format('woff'),
  url('/assets/fonts/ProximaNova-Semibold.ttf') format('truetype'),
  url('/assets/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'),
  url('/assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/ProximaNova-SemiboldIt.eot');
  src: url('/assets/fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
  url('/assets/fonts/ProximaNova-SemiboldIt.woff') format('woff'),
  url('/assets/fonts/ProximaNova-SemiboldIt.ttf') format('truetype'),
  url('/assets/fonts/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg'),
  url('/assets/fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: italic;
}
